:root {
    /* fontes */
    --fonte-principal: 'AgencyFB';
    --fonte-auxiliar: 'Open Sans';

    /* Cores Principais */
    --preto: #1e1e1e;
    --branco: #EDEDED;
    --destaque: #FD0054;
 
    --azul: #00387f;
}


@font-face {
    font-family:'AgencyFB';
    src: url(./../../assets/fonts/AGENCYB.woff2) format("woff2");
    font-display: swap;
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    user-select: none;
}

.tag{
    text-transform: uppercase;
    color: var(--destaque);
    position: relative;
}
.tag::before{
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    display: block;
    left: -35px;
    top: 11px;
    background-color: var(--destaque);
}
.cta {
    font-family: var(--fonte-principal);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border: solid 1px;
    font-weight: 600;
    padding: .8em 4em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* .cta:hover{
    transition: ease-in .2s;
    color: var(--branco-secundario);
} */


/* body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-track {
    background: var(--preto-escuro);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cinza);
    border-radius: 20px;
    border: 3px solid var(--preto);
} */