 .header{
    width: 100%;
    position: absolute;
    z-index: 1;
}
.header__contatos{
    background-color: black;
    opacity: .8;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__contatos p{
    letter-spacing: 1px;
    font-size: .9em;
}
.header__contatos ul{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__contatos li{
    display: flex;
}
.header__contatos img{
    width: 24px;
}
.header__container{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto);
}
.header__container a{
    text-decoration: none;
    text-transform: uppercase;
}
.header__logo--link{
    width: 120px;
    height: 120px;
    font-size: 1.125em;
    background-color: var(--destaque);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header__logo--img{
    width: 100%;
    /* padding: .5em; */
}

.header__menu{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__menu--link{
    text-decoration: none;
    color: var(--branco);
}
@keyframes menuAnimation {
    0%{
        opacity: 0;
        /* transform: translateY(-10%); */
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        /* transform: translateY(0%); */
        transform: scale(1);
    }
}
.header.active{
    height: 100vh;
    background-color: var(--preto);

}
.header.active .header__menu--item a {
    font-size: 1.3em;
}
.header.active .header__menu--item{
    width: 90%;
    text-align: center;
    border-bottom: solid 1px darkslategrey;
    padding-bottom: .3em;
}
.header.active .header__menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    gap: 2.5em;
    animation: menuAnimation .5s both;
}
.header.active .header__chamada {
    height: auto;
    padding: 1em;
    background-color: var(--destaque);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 4em;
    left: 1em;
    right: 1em;
    animation: menuAnimation .5s both;
}

.header__chamada{
    height: 100%;
    padding: 0 2em;
    background-color: var(--destaque);
    display: flex;
    align-items: center;
}
.header__chamada p{
    margin-right: .5em;
}
.header__chamada img{
    width: 20px;
}

/* MENU MOBILE */
.header__hamburguer{
    display: none;
}
.header__hamburguer label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 40px;
}
.header__hamburguer label span {
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--branco);
    transition: 0.25s ease-in-out;
}
.header__hamburguer label span:nth-child(1) {
    top: -2px;
}
.header__hamburguer label span:nth-child(2) {
    top: 8px;
}
.header__hamburguer label span:nth-child(3) {
    top: 18px;
}
#checkbox-menu {
    position: absolute;
    opacity: 0;
}

@media screen and (width <= 1100px){
    .header__contatos{
        opacity: 0;
    }
    .header__menu, .header__chamada{
        display: none;
    }
    .header__logo--link {
        width: 80px;
        height: 80px;
    }
    .header__container {
        background-color: transparent;
    }
    .header__hamburguer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--destaque);
        width: 80px;
        height: 80px;
        z-index: 99999;
    }

}


@media screen and (height <= 640px) {
    .header.active .header__menu {
        top: 1em;
        gap: 2em;
    }
    .header.active .header__menu--item a {
        font-size: 1.1em;
    }
    .header.active .header__chamada {
        bottom: 1em;
    }
}
@media screen and (height >= 641px) and (height <= 740px){
    .header.active .header__chamada {
        bottom: 3em;
    }
    .header.active .header__menu {
        top: 1em;
        gap: 2em;
    }
    .header.active .header__menu--item a {
        font-size: 1.1em;
    }
}

@media screen and (height >= 741px){
    .header.active .header__chamada {
        bottom: 4.5em;
    }
}