.sobre{
    margin-top: 5em;
    padding-bottom: 4em;
}

.sobre__tag::before{
    top: 8px;
}
.sobre__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sobre__text, .sobre__chamada{
    width: 47%;
}
.sobre__text{
    height: fit-content;
    background-color: var(--preto);
    padding: 2em 0;
    position: relative;
}
.sobre__text::before {
    content: '';
    width: 25%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: -16%;
    background-color: var(--preto);
    z-index: -1;
}

.sobre__lista{
    padding: 4em 0;
    display: flex;
    justify-content: space-around;
}


.sobre__titulo, .sobre__card h3, .sobre__card small{
    color: var(--branco);
}
.sobre__card{
    width: 45%;
}

.sobre__card div:nth-child(1){
    display: flex;
    align-items: end;
    padding-bottom: 1em;
    border-bottom: solid 1px var(--destaque);
}
.sobre__card div:nth-child(2){
    height: 60px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-top: 2em;
}
.sobre__card small{
    width: 60%;
}

.sobre__card h3, .sobre__card small{
    text-transform: uppercase;
}
.sobre__card h3{
    margin-left: 1em;
}
.sobre__card a {
    width: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);
    background-color: var(--destaque);
    /* padding: 1em; */
}

.sobre__card img{
    width: 40px;
}

.sobre__chamada{
    position: relative;
}

.sobre__chamada img{
    width: 70%;
}
.sobre__ficha{
    width: 50%;
    padding: 0 2em;
    line-height: 2em;
    background-color: var(--destaque);
    position: absolute;
    bottom: 25%;
    right: 0;
}
.sobre__ficha h2{
    color: var(--branco);
    letter-spacing: 1px;
    margin-top: .5em;
}
.sobre__ficha a{
    text-decoration: none;
    color: var(--preto);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    width: fit-content;
}
.sobre__ficha a::after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    right: -30px;
    background-image: url(./../../assets/imagens/icons/seta.webp);
    background-size: contain;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(333deg) brightness(103%) contrast(100%);
}

@media screen and (width <= 500px){
    .sobre {
        margin-top: 2em;
        padding-bottom: 4em;
    }
    .sobre__container {
        flex-direction: column;
    }
    .sobre__text, .sobre__chamada {
        width: 100%;
    }
    .sobre__tag{
        margin-left: 2em;
    }
    .sobre__text {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 32px 10px -20px;
        padding: 1em;
    }
    .sobre__text::before {
        display: none;
    }
    .sobre__card div:nth-child(2) {
        height: auto;
        flex-direction: column;
    }
    .sobre__card small {
        width: 100%;
    }
    .sobre__card a {
        width: 100%;
        margin-top: .5em;
        padding: .5em 0;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .sobre__card br{
        display: none;
    }
    .sobre__chamada {
        margin-top: 3em;
    }
    .sobre__ficha {
        width: 80%;
    }
}